{% extends "layout.html" %}
{% block content %}
<div class="col-md-12">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" action="">
        {{ form.hidden_tag() }} <!--.hidden_tag目的是使用secret-key保护不受cookie攻击？-->
        <fieldset class="form-group">
            <!--<legend class="border-bottom mb-4">{{ legend_title }}</legend>-->
            <div class="form-group">
                {{ form.headline.label(class='form-control-label') }}
                {% if form.headline.errors %}
                    {{ form.headline(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.headline.errors %}
                            <span>{{ error }}</span><!--但是此次如何反馈国际化（中文）错误提示呢？-->
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.headline(class='form-control form-control-lg') }}
                {% endif %}     
            </div>
            <div class="form-group">
                {{ form.content.label(class='form-control-label') }}
                {% if form.content.errors %}
                    {{ form.content(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class='form-control form-control-lg') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.summary.label(class='form-control-label') }}
                {% if form.summary.errors %}
                    {{ form.summary(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.summary.errors %}
                            <span>{{ error }}</span><!--但是此次如何反馈国际化（中文）错误提示呢？-->
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.summary(class='form-control form-control-lg') }}
                {% endif %}     
            </div>
            <div class="form-group">
                {{ form.tags.label(class='form-control-label') }}
                {% if form.tags.errors %}
                    {{ form.tags(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.tags.errors %}
                            <span>{{ error }}</span><!--但是此次如何反馈国际化（中文）错误提示呢？-->
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.tags(class='form-control form-control-lg') }}
                {% endif %}     
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class='btn btn-outline-info') }}
        </div>
    </form>
    <script>
            var editor = CKEDITOR.replace( "content", { //注意这里一定要用和form里用到的名字（如content）一致
                language:'zh-cn',
                uiColor:'#C7EDCC',
                height:360,
                toolbarCanCollapse:true,
                toolbar: [
                        { name: 'clipboard', items: [ 'Undo', 'Redo','-', 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord'] },
                        { name: 'editing', items: [ 'Find', 'Replace', '-', 'SelectAll', '-', '-', 'Scayt' ] },
                        { name: 'about', items: [ 'Language' , 'About', 'ShowBlocks'] },
                        { name: 'document', items: [ 'NewPage', 'Templates' ,'-', 'Maximize' ,'Preview', 'Save'] },
                        { name: 'tools', items: [ 'Source'] },
                        { name: 'forms', items: [ 'Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField' ] },
                        '/',
                        { name: 'paragraph', items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-','liststyle', 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'BidiLtr', 'BidiRtl', 'HorizontalRule','PageBreak'] },
                        { name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
                        { name: 'insert', items: [ 'base64image', 'Table', 'Image', 'html5video', 'Flash', 'CodeSnippet', 'Smiley', 'EqnEditor', 'SpecialChar' ] },
                        { name: 'element', items: ['Blockquote', 'CreateDiv', 'Iframe', '-'] },
                        '/',
                        { name: 'basicstyles', items: [ 'CopyFormatting', 'RemoveFormat' ,'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript'] },
                        { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize','lineheight' ] },
                        { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
                ],
                // 
                codeSnippet_theme: "monokai_sublime",
                imageUploadUrl: "/post/files/upload",
                filebrowserUploadUrl: "/post/files/upload",
                filebrowserBrowseUrl: "",
                // CSRF token header for XHR request
                removeDialogTabs:'image:advanced;image:Link',
                extraPlugins:'filebrowser,codesnippet,imagerotate,html5video,widget,widgetselection,clipboard,lineutils,\
                              uploadwidget,uploadimage,tabletools,tableresize,eqneditor,\
                              base64image,autoembed,autolink,undo,textmatch,lineheight,liststyle',
                });
            editor.addCommand( 'html5video', new CKEDITOR.dialogCommand( 'html5video' ) );
            editor.ui.addButton && editor.ui.addButton( 'html5video', {
                label   : 'Video',
                command : 'html5video'
            });
        </script>
    

</div>                               
{% endblock content %}

