<div class="content-section" style="min-width: 310px;">
    <span class="row ml-2"><h3>畅所欲言</h3></span>
    <p class="text-muted">一本好书需要你一页一页翻到最后</p>
    <span><h6 class="small text-muted mt-3">（已发布 {{ posts_count }}篇，数据库：{{ database_size|round(1, 'floor') }}M，媒体库：{{ mediabase_size|round(1, 'floor') }}M）</h6></span>
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">本页</li>
        <li class="list-group-item list-group-item-light">
            {% if sideinfo == "post" %}
                {% for post in posts.items %}
                    <div class="small row ml-1">
                        <a class="text-truncate" href="{{ url_for('post_show',post_id=post.id) }}">{{ post.title }}</a>
                    </div>
                {% endfor %}
            {% elif sideinfo == "science" %}
                <p>热爱科学，填写ID?</p>
            {% elif sideinfo == "game" %}
                <p>珍惜时间，及时行乐</p>
            {% else %}
                <p>...</p>
            {% endif %}
        </li>
        <li class="list-group-item list-group-item-light">标签云</li>
        <li class="list-group-item list-group-item-light"><img class="tagcloud" src="{{ url_for('static',filename='post/wordcloud/tags.png') }}"></li>
        <li class="list-group-item list-group-item-light">日历</li>
        <li class="list-group-item list-group-item-light">
            <table class="table table-bordered table-calendar">
                <!--<tr>
                    <th colspan="7">{{ today.strftime('%Y-%m-%d') }}</th>
                </tr>-->
                {% set week_addr = ['日', '一', '二', '三', '四', '五', '六'] %}
                <tr>
                    {% for addr in week_addr %}
                        <th>{{addr}}</th>
                    {% endfor %}
                </tr>
                {% for weeks in calendar %}
                <tr>
                    {% for day in weeks %}
                        {% if day == today.day and day in posted_date %}
                            <td style="background-color:#007bff;border-radius: 4px;">
                                <a style="color:black;" href="{{ url_for('post_list_by_date', post_day=day) }}">{{ day }}</a>
                            </td>    
                        {% elif day in posted_date %}
                            <td style="background-color:#bcd7f3;border-radius: 4px;">
                                <a href="{{ url_for('post_list_by_date', post_day=day) }}">{{ day }}</a>
                            </td>
                        {% elif day == today.day %}
                            <td style="background-color:#007bff;border-radius: 4px;">{{ day }}</td>
                        {% elif day == 0 %}
                            <td>&nbsp</td>                                                                           
                        {% else %}
                            <td>{{ day }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </li>
        <li class="list-group-item list-group-item-light">外链</li>
        <li class="list-group-item list-group-item-light">
            <a href="https://github.com/highwindmx?tab=repositories" target="_blank">
                <i class="fab fa-github fa-2x fa-fw"></i>
            </a>
            <a class="popup" href="#">
                <i class="fab fa-weixin fa-2x fa-fw"></i>
                <div class="popup-img p-3 row justify-content-center"><!--  target="_blank"-->
                    <img src="http://picpool-1255373220.cossh.myqcloud.com/Blog_Hexo_CodingNet/2017-11-01_wechatReward.jpg">
                </div>
            </a>                    
            <a href="https://www.bilibili.com/video/av55738332" target="_blank">
                <i class="fas fa-camera fa-2x fa-fw"></i>
            </a>
            <a href="https://i.youku.com/highwindmx" target="_blank">
                <i class="fas fa-play fa-2x fa-fw"></i>
            </a>
            <a href="mailto:highwindmx@126.com?subject=有些想法&body=我想对你说" target="_blank">
                <i class="fas fa-envelope fa-2x fa-fw"></i>                        
            </a>
        </li>
    </ul>
</div>